[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=alexplore
Comment=DVB Channel Browser & Scanner
Exec=alexplore
Terminal=no
Categories=AudioVideo;TV
